@model RegisterUser
@{
        DateTime Today = DateTime.Now;
}
<h2> Username / Password Demo </h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <form asp-controller="Home" asp-action="About" method="post" class="form-horizontal" role="form">
                <input asp-for="DateRegistered" type="hidden" />
                <div class="form-group">
                    <label asp-for="Email" class="control-label" for="Email">E-Mail:</label>
                    <input asp-for="Email" class="form-control" type="text" placeholder="Email Address" />
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label" for="Password">Password:</label>
                    <input asp-for="Password" class="form-control" id="password" type="password" placeholder="Password" />
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label" for="Confirm">Confirm:</label>
                    <input asp-for="ConfirmPassword" class="form-control" id="confirm" type="password" placeholder="Confirm Password" />
                </div>
                <div class="form-group text-danger" asp-validation-summary="ValidationSummary.All">
                </div>
                <div class="form-group">
                    <button class="btn btn-danger" type="submit" style="width: 280px;">ENTER</button>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            @try
            {
                @if (Model.Email != null && Model.Password != null)
                {
                    <div class="btn-group-lg">
                        <table class="table">
                            <tr>
                                <td>Email: @Model.Email</td>
                                <td>Password: @Model.Password</td>
                                <td>Date Registered: @Model.DateRegistered</td>
                            </tr>
                        </table>
                    </div>
                }
            }
            catch (Exception)
            {
                <h3> Create an account to display data: </h3>
            }
        </div>
    </div>
</div>



